.plan{
    border: green solid 4px;
    border-left: none;
    margin: 16px 0;
    width: 80%;
}

.plan_links{
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 32px;
}

.plan__description{
    background: white;
    border: lightgreen solid 2px;
}

#plus{
    margin-top: 48px;
    background: #a0ffa6;
}

#free{
    background: #d5ffdc;
}

#premium{
    background: #19b84c;

}